<div class="container">
  <div class="row">
    <div class="col-4 offset-4 mt-5" >
      <h4 class="text-center font-weight-bold">本当に退会しますか?</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h5 class="text-center">退会すると、会員情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-4 mt-3">
      <%= link_to "退会しない", customers_mypage_path(current_customer), class: 'btn btn-primary ml-4' %>
      <%= link_to "退会する", customers_withdraw_path	, method: :patch, class: 'btn btn-danger ml-4', data: {confirm: '本当に退会しますか'} %>
    </div>
  </div>
</div>













