<div class= "main-visual">
  <h6>ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。</h6>
</div>

<h4>新着商品</h4>

<% @items.each do |item| %>
 <div class="card-home">
  <div class="card-body">
         <%= image_tag item.image_id, size: "180x160" %>
         <p class="card-text"><%= item.name %></p>
         <p class="card-text">¥<%= item.price.to_s (:delimited) %></p>
  </div>
 </div>
<% end %>




<%= link_to "全ての商品を見る ＞", items_path %>