<div class="container">
 <div class="row">
　<h2>注文履歴一覧</h2>
　<table class="table table-hover table-inverse">
    <thed>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>ステータス</th>
      </tr>
    </thed>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at, admin_orders_show_path(order.id) %></td>
        <td><%= order.full_name %></td>

        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
 </div>
</div>