@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  display: inline-block;
  background-color: #dcdcdc;
  font-size: 25px;
  margin-top: 15px;
}


.subtitle {
  display: inline-block;
  background-color: #dcdcdc;
  margin-top: 20px;
}


.actions {
  margin-top: 20px;
}

.about {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.headline{
  font-size: 70px;
}

.about-text {
  text-align: center;
  margin: auto;
}

label {
  font-size: 15px;
  font-weight: bold;
}

.address-table{
  margin:20px auto;
}

.card-item-index {
  width: 230px;
  height: 250px;
  display: inline-block;
}

.card-home {
  width: 180px;
  height: 2000px;
  display: inline-block;
}

.btn-plus {
  width: 50px;
 	height: 54px;
	display: inline-block;
 	border-radius: 50%;
 	line-height: 10px;
	text-decoration :none;
	text-align: center;
 	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	transition: background-color 1s;
  color: black;
}
.collection_select {
  width: 400px;
}

select {
  width: 190px;
}


.card-home{
  height: 150px;
}

.mypage-table{
  height: 50px;
}



