@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  display: inline-block;
  background-color: #dcdcdc;
  font-size: 25px;
  margin-top: 15px;
}

.subtitle {
  display: inline-block;
  background-color: #dcdcdc;
  margin-top: 20px;
}

.mypagetitle {
  font-weight: bold;
  font-size: 18px;
}


.actions {
  margin-top: 20px;
}

.about {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.headline{
  font-size: 70px;
}

.about-text {
  text-align: center;
  margin: auto;
}

label {
  font-size: 11px;
  font-weight: bold;
}
